version: '3.8'
services:
  api:
    build: .
    ports:
      - "8080:8080"
    volumes:
      - ./data:/app/data
    environment:
      - ADMIN_KEY=admin
      - ALLOWED_ORIGIN="http://localhost:3000,https://photoidcreator.com"
      - FEEDBACK_FILE=/app/data/feedback.txt
    restart: unless-stopped
